<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.safedrive.SafeDrive.d</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/steve/Library/LaunchAgents/io.safedrive.SafeDrive.d</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>io.safedrive.SafeDrive.d</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
