<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    io.safedrive.SafeDrive.Service.plist
    SafeDrive 
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.safedrive.SafeDrive.Service</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>"$HOME/Library/Application Support/SafeDrive/SafeDriveService.app/Contents/MacOS/SafeDriveService"</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>io.safedrive.SafeDrive.Service</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>